.create-category {
  text-align: center;
  &__card {
    font-size: 6.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.6rem;
    position: relative;
  }

  &__title {
    font-size: 1.4rem;
  }
}
