.auth {
  height: 100vh;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__img {
    display: none;

    @media (min-width: 900px) {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
}
